In [12]:
number = 15.5
money = 25000.00
name = 'au'
c ='A'
t = True
f = False
not_t = not(t)

print ( 'number = ',number)
print ('money = ',money)
print ('name = ',name)
print (type(c))
print (type(t))
print (type(f))
print(type(not_t))

number =  15.5
money =  25000.0
name =  au
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [13]:
print ('not_t',not_t)

not_t False

In [14]:
print(c,not_t)

A False

In [15]:
print (not_t)

False

In [16]:
print (t)

True

In [17]:
if (type(number) is int):
    print ('yes number is int')
else:
    print ('number not')

number not

In [18]:
a = int(input ('a = '))       
for i in range(12):
    print(a,'X',i+1, '=', (a*(i+1)))

a =  10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120

In [24]:
a_tuple = (1,2,3,4,5,6,7,8,5)
print(a_tuple)
print(a_tuple[0], a_tuple[1])
print('The number of element',len(a_tuple))
print('The number time 3 appers in a_tuple is',a_tuple.count(3))
print('The first occurene of vale 5 is found at',a_tuple.index(5))
print('Looping in the tuple')
for i in range(len(a_tuple)):
    print(a_tuple[i])

(1, 2, 3, 4, 5, 6, 7, 8, 5)
1 2
The number of element 9
The number time 3 appers in a_tuple is 1
The first occurene of vale 5 is found at 4
Looping in the tuple
1
2
3
4
5
6
7
8
5

In [32]:
my_dic = {}
print (type(my_dic))
thisdic = {
    "brand" : "Ford",
    "mode" : "Mustang",
    "year":1998
}
print(thisdic)
print(thisdic["mode"])
#พิมพ์ทุกคำ
for e in thisdic:
    print(thisdic[e])
for e in thisdic.values():
    print(e)
#พิมพ์ั้งคีย์ และ คำ
for key,values in thisdic.items():
    print(key,values)

<class 'dict'>
{'brand': 'Ford', 'mode': 'Mustang', 'year': 1998}
Mustang
Ford
Mustang
1998
Ford
Mustang
1998
brand Ford
mode Mustang
year 1998

In [42]:
user = [ {"id":1,"name":"au","point":200},
        {"id":2,"name":"mee","point":100},
        {"id":3,"name":"ni","point":250},
        {"id":4,"name":"paw","point":150}
    ]
print (user)
print(user[0]["name"])
for u in user:
    print(u)
print(next(item for item in user if item["name"]=="ni"))

keys = map(lambda x : x['id'],user)
list(keys)
values = map(lambda x : x['name'],user)
list(values)
au_user = filter(lambda x:x['name']=='au',user)
list(au_user)
high_point = filter(lambda x: x['point'] >= 180,user)
list(high_point)

[{'id': 1, 'name': 'au', 'point': 200}, {'id': 2, 'name': 'mee', 'point': 100}, {'id': 3, 'name': 'ni', 'point': 250}, {'id': 4, 'name': 'paw', 'point': 150}]
au
{'id': 1, 'name': 'au', 'point': 200}
{'id': 2, 'name': 'mee', 'point': 100}
{'id': 3, 'name': 'ni', 'point': 250}
{'id': 4, 'name': 'paw', 'point': 150}
{'id': 3, 'name': 'ni', 'point': 250}

[{'id': 1, 'name': 'au', 'point': 200}, {'id': 3, 'name': 'ni', 'point': 250}]